* {
    background-color: #FEF3DD;
    text-align: center;
    font-family: Georgia, serif;
}

h1{
    color: coral;
}

a,
li{
    color: lightseagreen;
    display: block;
    margin-left: 210px;
    margin-right: 230px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }